.contents{
    border-bottom: 1px solid #e0e0e0;
}
.channelInfo{
    display: flex;
    padding-top: 10px;
    margin-bottom: -20px;
    align-items: center;
}
.thumbnail{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 12px;
}